<div class="container">
  <h1>Welcome to Flickr Jr.</h1>

  Login here:<br><br>
  <form action="/login" method="post">
    <input type="text" name="username_or_email" placeholder="username/email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Log in">
  </form>
  <br>
  No account yet? <a class="signup" href= "/signup">Sign up here</a>


</div>