<div class="container">
  <h1>Welcome to Flickr Jr.</h1>
  <form action="/signup" method="post">
    <p>Create a new account:</p>
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password"><br><br>
    <input class="float-right" type="submit" value="Sign me up!">
  </form><br><br>

  Have an account? <a class="login" href= "/login">Login here</a>
</div>