<html>
<body>
  <div class=container>
    <h1> Upload a new photo:</h1>
    <form action="/upload" method="post" enctype='multipart/form-data'>
      <input type="text" name:"title" placeholder="title"><br>
      <input type="text" name:"description" placeholder="description"><br>
      <input type='file' name='myfile'><br>
      </br>
      <input type='submit' value='Upload!'></input>
    </form>
  </div>
</body>
</html>
